body{
	font-size: 12px;	
	font-family: 'Uncial Antiqua', cursive;
	background: green;
}
#frame{
	top: 0;
	background-color: white;
	width: 60%;
	height: 90vh;
	left:20%;
	box-shadow: 10px 10px 5px black;
}
#title{
	margin: 15px;
	flex:0 2 auto;
}
#moves{
	padding: 0;
	margin: 0;
	top:-10px;
	position: relative;
	-moz-animation: movingclouds 20s infinite;
    -webkit-animation: movingclouds 20s infinite;
    animation: movingclouds 20s infinite;
}
@keyframes movingclouds{
	0% {right:0;}
	100% {right: 50%;}
	
}
#clouds{
	position: absolute;
	left: -10px;
}
#logo img{

	height: 250px;
}
article{
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	background: yellow;
}
p{
	margin: 5px;
	flex: 0 2 auto;
	background: green;
}
nav{
	flex:0 2;
}
