body{
	font-size: 12px;	
	font-family: 'Uncial Antiqua', cursive;
	background: green;
	overflow: hidden;
}
#frame{
	top: 0;
	background-color: white;
	width: 60%;
	height: 90%;
	left:20%;
	box-shadow: 10px 10px 5px black;
	overflow: hidden;
}
#logo{

	position: absolute;
	left: 35%;
	animation: logofade .5s;
	}
@keyframes logofade{
	0% {transform: rotateZ(90deg)scale(-100);}
	100%{transform: rotateZ(0deg)}
}	
#moves{
	padding: 0;
	margin: 0;
	top:-10px;
	position: relative;
	-moz-animation: movingclouds 20s infinite;
    -webkit-animation: movingclouds 20s infinite;
    animation: movingclouds 20s infinite;
}
@keyframes movingclouds{
	0% {right:0;}
	100% {right: 50%;}
	
}
#clouds{
	position: absolute;
	left: -10px;
}
article{
	width: 600px;
	top: 40%;
}
#logo img{

	height: 250px;
}
p{
	width: 48%;
}
