body{
	font-size: 15px;	
	font-family: 'Bubblegum Sans', cursive;
}
#frame{
	top: 0;
	background-color: white;
	width: 60%;
	left:20%;
	box-shadow: 10px 10px 5px black;
	
}
#title{
	margin: 15px;
	flex:0 2 auto;
}
#moves{
	position: fixed;
	padding: 0;
	margin: 0;
	top:-10px;
	-moz-animation: movingclouds 20s infinite;
    -webkit-animation: movingclouds 20s infinite;
    animation: movingclouds 20s infinite;
}
@keyframes movingclouds{
	0% {left:0;}
	100% {left: -100%;}	
}
#clouds{
	position: absolute;
	left: -10px;
}
article{
	flex-direction: column;
}

nav{
	flex:0 2;
}
ul{
margin: -20px 0 0 0;
}