body{
	font-size: 13px;
	background: yellow;
}
#frame{
	top: 0;
	background-color: white;
	width: 60%;
	left:0;
	box-shadow: 10px 10px 5px black;
	overflow: hidden;
}
#moves{
	position: fixed;
	padding: 0;
	margin: 0;
	top:-10px;
	-moz-animation: movingclouds 20s infinite;
    -webkit-animation: movingclouds 20s infinite;
    animation: movingclouds 20s infinite;
}
	@keyframes movingclouds{
	0% {left: -2%;}
	100% {left: -100%;}	
}
#clouds{
	position: absolute;

}
#clouds img{
	width: 3000px;
}
nav{
	left:-30px;
	margin-top: 10px;
}

ul{
	margin: -15px 0 0 0;
}
#balloons img{
	top:3%;
}