body{
	background: red;

}
#logo{
	position: absolute;
	left: 0px;
}
#frame{
	position: absolute;
	background-color: none;

}

nav{
	position: absolute;
}
ul{

}
li{
	display: inline-block;
	font-size: 20px;
	list-style-type: none;
}
li:hover{
	background: red;
	animation: spinlinks .5s;
	transform: scale(1.5);
}
@keyframes spinlinks{
	from {transform: rotateX(0deg);}
	to {transform: rotateX(740deg);}

}
article{
	top: 145px;
	position: absolute;
	display: flex;

}
p{
	width: 170px;
	top:90px;
	margin: 10px;
	display: box;
}
#logo img{
	display: none;
	height: 50px;
}