body{
background-color: #4590D8;
}
#frame{
	border-radius: 5px;
	margin: 10px 10px 10px 0;
	background: white;
	display: flex;
	flex-direction: column;
	box-shadow: 5px 5px 10px #0D26AD;
}
h1{
	margin: 0 0 -10px 0;
	box-shadow: 0 4px 10px;
}
@keyframes spinlinks{
	from {transform: rotateX(0deg);}
	to {transform: rotateX(740deg);}
}