body{
	background: red;

}

#frame{
	margin: 10px 10px 10px 0;
	background: white;
	display: flex;
	flex-direction: column;
}
h1{
	margin: 0 0 -10px 0;
}
article{
	flex: 0 2 auto;
	display: flex;
	background: yellow;
}
p{
	margin: 5px;
	flex: 0 2 auto;
	background: green;
}
@keyframes spinlinks{
	from {transform: rotateX(0deg);}
	to {transform: rotateX(740deg);}
}

