header{
}
h1{
	margin: 10px;
}
h2, p{
	margin: 5px;
}
nav{
	margin: 15px;
}
.eventImage{
	float: right;
	width: 30%;

}
.content{
    position: relative;
    display: flex;
    flex-flow: row wrap;
}
#slider{

	left: 10%;
	width: 60%;
	overflow: hidden;
	flex: 0 0 40%;
	margin: 0 auto;
	
}
.box{
	position: relative;
	width: 400%;
	display: flex;
	animation: slider 20s infinite;
	background: none;
}
@keyframes slider{
	0%    { left:0; }
	9%   { left:0; }
	18% { left:-100%; }
	27% { left:-100%; }
	36%   { left:-200%; }
	45%   { left:-200%; }
	54% { left:-300%; }
	63% { left:-300%; }
	72% { left:0; }
}
#slider img{
	flex: 0 2 auto;
	width: 25%;
	height: 25%;
}
.smallbox{
	margin: 5px auto;
	width: 45%;
	height: 400px;
	background-color: lightgrey;
	padding: 0 15px 0 15px;
}
#balloons img{
	position: absolute;
	left:1%;
	top:2%;
	flex: 0 0 auto;
	width: 5%;
	animation: sway 5s infinite;
}

@keyframes sway{
	0% {transform: rotateZ(10deg);}
	50% {transform: rotateZ(-10deg);}
	100% {transform: rotateZ(10deg);}
}

iframe{
	width:100%;
	height: 100%;
}
img{
	margin: 5px;
}
