body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}
h2 {
  text-align: center;
}
img {
    width: auto;
    height: 100px;
}
header{
    background: teal;
    text-align: center;
}

.navFull {

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    text-align: center;
}
a{
  text-decoration: none;
}
.navItem {
    flex-grow: 1
}

p {
    margin: 0;
    padding: 5px;
}
.heroContainer{
  text-align: center;
}

.heroPara{
  background: lightblue;
  /*flex-grow: 1;*/
}
.slider {
    left: 10%;
    overflow: hidden;
    flex: 0 0 40%;
    margin: 0 auto;

}
.box{
	position: relative;
	width: 400%;
	display: flex;
	animation: slider 20s infinite;
	background: none;
}
.sliderbox{
    overflow: hidden;
  margin: 10px auto;
  width: 40%;
}
@keyframes slider{
	0%    { left:0; }
	9%   { left:0; }
	18% { left:-100%; }
	27% { left:-100%; }
	36%   { left:-200%; }
	45%   { left:-200%; }
	54% { left:-300%; }
	63% { left:-300%; }
	72% { left:0; }
}
.slider img{
	flex: 0 2 auto;
	width: 25%;
	height: auto;
}
.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    flex: 1;
}
.deals{
  
  border-bottom: 3px black dotted;
}
.row{
  margin: 15px;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}
article{
  flex: 1;
}


footer {
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;

}
.sliderContainer{
  height: 100%;
}
.map{
}
.dottedL{
  border-left: dotted black 3px;
}
.feature{
  position: relative;
  left: 10%;
  width: 80%;
}
@media screen and (max-width: 1030px) {
    .container {
        flex-flow: column;
    }
    .heroContainer{
      flex-flow: column;
    }
    .navFull{
    display: none;
    }
/*    .slider{
      height: 80%;
    }*/
    .sliderbox{
      height: auto;
      width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .container {
        flex-flow: column;
    }
    .heroContainer{
      flex-flow: column;
    }
 
    img{
      height: 300px;
    }
    .box{
      height: 300px;
    }
    .row{
    
      flex-flow: column;
    }
  footer{
    flex-flow: row;    
  }
  .dottedL{
    border-left: none;
}

}

@media screen and (max-width: 300px) {
    
    .box{
      height: 200px;
    }
}
